<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<!-- 配置生成器 -->
<generatorConfiguration>
<!--    <columnOverride column="_INTEGER" jdbcType="java.lang.Integer" /> -->
    <context id="goodsCarId"  targetRuntime="MyBatis3" >
        <property name="autoDelimitKeywords" value="false"/>
        <property name="javaFileEncoding" value="UTF-8"/>
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://192.168.2.54:3306/ez?utinyInt1isBit=false"
                        userId="fatwrite" password="fatwrite">
        </jdbcConnection>

        <javaModelGenerator targetPackage="top.ezadmin.domain.model" targetProject="src/main/java">
            <property name="constructorBased" value="false"/>

            <property name="enableSubPackages" value="true"/>

            <property name="immutable" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="top.ezadmin.domain.mapper" targetProject="src/main/resources">
            <!-- 在targetPackage的基础上，根据数据库的schema再生成一层package，最终生成的类放在这个package下，默认为false -->
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <javaClientGenerator targetPackage="top.ezadmin.domain.mapper" type="XMLMAPPER" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
<!--        <table tableName="t_sql" domainObjectName="CoreSql">-->
<!--            <property name="constructorBased" value="false"/>-->
<!--            <property name="ignoreQualifiersAtRuntime" value="false"/>-->
<!--            <property name="immutable" value="false"/>-->
<!--            <property name="modelOnly" value="false"/>-->
<!--            <property name="useActualColumnNames" value="false"/>-->
<!--            <generatedKey column="ID" sqlStatement="MySql" identity="true"/>-->
<!--        </table>-->
<!--        <table tableName="t_slowlog" domainObjectName="CoreSlowLog">-->
<!--            <property name="constructorBased" value="false"/>-->
<!--            <property name="ignoreQualifiersAtRuntime" value="false"/>-->
<!--            <property name="immutable" value="false"/>-->
<!--            <property name="modelOnly" value="false"/>-->
<!--            <property name="useActualColumnNames" value="false"/>-->
<!--            <generatedKey column="ID" sqlStatement="MySql" identity="true"/>-->
<!--        </table>-->

        <table tableName="t_ez_cloud" domainObjectName="EzCloud">
            <property name="constructorBased" value="false"/>
            <property name="ignoreQualifiersAtRuntime" value="false"/>
            <property name="immutable" value="false"/>
            <property name="modelOnly" value="false"/>
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="ID" sqlStatement="MySql" identity="true"/>
        </table>
    </context>

</generatorConfiguration>