<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<!-- 配置生成器 -->
<generatorConfiguration>
<!--    <columnOverride column="_INTEGER" jdbcType="java.lang.Integer" /> -->
    <context id="goodsCarId"  targetRuntime="MyBatis3" >
        <property name="autoDelimitKeywords" value="false"/>
        <property name="javaFileEncoding" value="UTF-8"/>
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <jdbcConnection driverClass="org.h2.Driver"
                        connectionURL="jdbc:h2:tcp://47.103.36.208:9092/ez"
                        userId="" password="">
        </jdbcConnection>

        <javaModelGenerator targetPackage="top.ezadmin.domain.model" targetProject="src/main/java">
            <property name="constructorBased" value="false"/>

            <property name="enableSubPackages" value="true"/>

            <property name="immutable" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="top.ezadmin.domain.mapper" targetProject="src/main/resources">
            <!-- 在targetPackage的基础上，根据数据库的schema再生成一层package，最终生成的类放在这个package下，默认为false -->
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <javaClientGenerator targetPackage="top.ezadmin.domain.mapper" type="XMLMAPPER" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
        <table tableName="T_BLOG" domainObjectName="Blog">
            <property name="constructorBased" value="false"/>
            <property name="ignoreQualifiersAtRuntime" value="false"/>
            <property name="immutable" value="false"/>
            <property name="modelOnly" value="false"/>
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="BLOG_ID" sqlStatement="JDBC" identity="true"/>
        </table>
        <table tableName="T_BLOG_CATEGORY" domainObjectName="BlogCategory">
            <property name="constructorBased" value="false"/>
            <property name="ignoreQualifiersAtRuntime" value="false"/>
            <property name="immutable" value="false"/>
            <property name="modelOnly" value="false"/>
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="CATEGORY_ID" sqlStatement="JDBC" identity="true"/>
            <columnOverride column="DELETE_FLAG" property="deleteFlag" javaType="java.lang.Integer"/>
        </table>
        <table tableName="T_BLOG_MESSAGE" domainObjectName="BlogMessage">
            <property name="constructorBased" value="false"/>
            <property name="ignoreQualifiersAtRuntime" value="false"/>
            <property name="immutable" value="false"/>
            <property name="modelOnly" value="false"/>
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="ID" sqlStatement="JDBC" identity="true"/>
            <columnOverride column="DELETE_FLAG" property="deleteFlag" javaType="java.lang.Integer"/>
        </table>
        <table tableName="T_SYS_USER" domainObjectName="SysUser">
            <property name="constructorBased" value="false"/>
            <property name="ignoreQualifiersAtRuntime" value="false"/>
            <property name="immutable" value="false"/>
            <property name="modelOnly" value="false"/>
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="USER_ID" sqlStatement="JDBC" identity="true"/>
            <columnOverride column="DELETE_FLAG" property="deleteFlag" javaType="java.lang.Integer"/>
        </table>
        <table tableName="T_CORE_FILE" domainObjectName="CoreFile">
            <property name="constructorBased" value="false"/>
            <property name="ignoreQualifiersAtRuntime" value="false"/>
            <property name="immutable" value="false"/>
            <property name="modelOnly" value="false"/>
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="FILE_ID" sqlStatement="JDBC" identity="true"/>
            <columnOverride column="DELETE_FLAG" property="deleteFlag" javaType="java.lang.Integer"/>
        </table>
        <table tableName="T_VISITOR_LOG" domainObjectName="VisitorLog">
            <property name="constructorBased" value="false"/>
            <property name="ignoreQualifiersAtRuntime" value="false"/>
            <property name="immutable" value="false"/>
            <property name="modelOnly" value="false"/>
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="ID" sqlStatement="JDBC" identity="true"/>
        </table>
        <table tableName="T_BASE_PRODUCT" domainObjectName="BaseProduct">
            <property name="constructorBased" value="false"/>
            <property name="ignoreQualifiersAtRuntime" value="false"/>
            <property name="immutable" value="false"/>
            <property name="modelOnly" value="false"/>
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="PROD_ID" sqlStatement="JDBC" identity="true"/>
        </table>
        <table tableName="T_SALEORDER" domainObjectName="Saleorder">
            <property name="constructorBased" value="false"/>
            <property name="ignoreQualifiersAtRuntime" value="false"/>
            <property name="immutable" value="false"/>
            <property name="modelOnly" value="false"/>
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="SALEORDER_ID" sqlStatement="JDBC" identity="true"/>
        </table>
        <table tableName="T_SALEORDER_GOODS" domainObjectName="SaleorderGoods">
            <property name="constructorBased" value="false"/>
            <property name="ignoreQualifiersAtRuntime" value="false"/>
            <property name="immutable" value="false"/>
            <property name="modelOnly" value="false"/>
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="SALEORDER_GOODS_ID" sqlStatement="JDBC" identity="true"/>
        </table>
        <table tableName="T_BASE_TRADER" domainObjectName="BaseTrader">
            <property name="constructorBased" value="false"/>
            <property name="ignoreQualifiersAtRuntime" value="false"/>
            <property name="immutable" value="false"/>
            <property name="modelOnly" value="false"/>
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="TRADER_ID" sqlStatement="JDBC" identity="true"/>
        </table>
        <table tableName="T_BASE_TRADER_ADDRESS" domainObjectName="BaseTraderAddress">
            <property name="constructorBased" value="false"/>
            <property name="ignoreQualifiersAtRuntime" value="false"/>
            <property name="immutable" value="false"/>
            <property name="modelOnly" value="false"/>
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="TRADER_ADDRESS_ID" sqlStatement="JDBC" identity="true"/>
        </table>
        <table tableName="T_BASE_TRADER_CONTACT" domainObjectName="BaseTraderContact">
            <property name="constructorBased" value="false"/>
            <property name="ignoreQualifiersAtRuntime" value="false"/>
            <property name="immutable" value="false"/>
            <property name="modelOnly" value="false"/>
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="TRADER_CONTACT_ID" sqlStatement="JDBC" identity="true"/>
        </table>

        <table tableName="T_BASE_UNIT" domainObjectName="BaseUnit">
            <property name="constructorBased" value="false"/>
            <property name="ignoreQualifiersAtRuntime" value="false"/>
            <property name="immutable" value="false"/>
            <property name="modelOnly" value="false"/>
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="UNIT_ID" sqlStatement="JDBC" identity="true"/>
        </table>

        <table tableName="T_BASE_BRAND" domainObjectName="BaseBrand">
            <property name="constructorBased" value="false"/>
            <property name="ignoreQualifiersAtRuntime" value="false"/>
            <property name="immutable" value="false"/>
            <property name="modelOnly" value="false"/>
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="BRAND_ID" sqlStatement="JDBC" identity="true"/>
        </table>
        <table tableName="T_SYS_COMPANY" domainObjectName="SysCompany">
            <property name="constructorBased" value="false"/>
            <property name="ignoreQualifiersAtRuntime" value="false"/>
            <property name="immutable" value="false"/>
            <property name="modelOnly" value="false"/>
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="COMPANY_ID" sqlStatement="JDBC" identity="true"/>
        </table>
        <table tableName="T_SYS_ORGANIZATION" domainObjectName="SysOrganization">
            <property name="constructorBased" value="false"/>
            <property name="ignoreQualifiersAtRuntime" value="false"/>
            <property name="immutable" value="false"/>
            <property name="modelOnly" value="false"/>
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="ORG_ID" sqlStatement="JDBC" identity="true"/>
        </table>
        <table tableName="T_SYS_POSITION" domainObjectName="SysPosition">
            <property name="constructorBased" value="false"/>
            <property name="ignoreQualifiersAtRuntime" value="false"/>
            <property name="immutable" value="false"/>
            <property name="modelOnly" value="false"/>
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="POSITION_ID" sqlStatement="JDBC" identity="true"/>
        </table>
         <table tableName="T_SYS_USER_ROLE" domainObjectName="SysUserRole">
            <property name="constructorBased" value="false"/>
            <property name="ignoreQualifiersAtRuntime" value="false"/>
            <property name="immutable" value="false"/>
            <property name="modelOnly" value="false"/>
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="USER_ROLE_ID" sqlStatement="JDBC" identity="true"/>
        </table>
        <table tableName="T_SYS_ROLE" domainObjectName="SysRole">
            <property name="constructorBased" value="false"/>
            <property name="ignoreQualifiersAtRuntime" value="false"/>
            <property name="immutable" value="false"/>
            <property name="modelOnly" value="false"/>
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="ROLE_ID" sqlStatement="JDBC" identity="true"/>
        </table>
        <table tableName="T_SYS_ROLE_RESOURCE" domainObjectName="SysRoleResource">
            <property name="constructorBased" value="false"/>
            <property name="ignoreQualifiersAtRuntime" value="false"/>
            <property name="immutable" value="false"/>
            <property name="modelOnly" value="false"/>
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="ROLE_RESOURCE_ID" sqlStatement="JDBC" identity="true"/>
        </table>
        <table tableName="T_SYS_RESOURCE" domainObjectName="SysResource">
            <property name="constructorBased" value="false"/>
            <property name="ignoreQualifiersAtRuntime" value="false"/>
            <property name="immutable" value="false"/>
            <property name="modelOnly" value="false"/>
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="RESOURCE_ID" sqlStatement="JDBC" identity="true"/>
        </table>


    </context>

</generatorConfiguration>