<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ezadmin.domain.mapper.ext.CoreSqlExtMapper">

<select id="selectOneSql" resultType="top.ezadmin.domain.model.CoreSql">
        select  ID id,   EXE_COUNT exeCount, EXE_TIME exeTime
        from t_sql where encode=#{encode,jdbcType=VARCHAR}
        and APPNAME=#{appName,jdbcType=VARCHAR} limit 1;
</select>

</mapper>