<!DOCTYPE html>
<html>
<head th:replace="blog/common::title"></head>
<body  >
<div class="layui-layout layui-layout-admin  ">

    <head th:replace="blog/common::header"></head>

    <div class="layui-container" style="margin-top:70px">
        <!-- 内容主体区域 -->
        <div class="layui-row layui-col-space10" >
            <div class="layui-col-xs12 layui-col-md9" >
                <div class="layui-panel" th:each="blog,iterStat : ${list}" style="margin-bottom: 10px">
                    <div class="layui-row layui-text" style="padding:30px">
                        <div class="layui-col-md1">
                            <img th:src="@{${configurations.get('sysAuthorImg')}}" style="width:47px;height:47px;border-radius:50%">
                        </div>
                        <div class="layui-col-md11  ">
                            <div class="layui-serachlist-text">
                                <h3><a  target="_blank" th:href="${blog.blogUrl}" th:text="${blog.blogTitle}">前端的进化？</a></h3>
                                <p> [[${#dates.format(blog?.addTime,'yyyy-MM-dd HH:mm:ss')}]]
                                    <i class="layui-icon-eye layui-icon"></i>[[${blog?.viewTimes}]]
                                    <!--                                    <i class="layui-icon-dialogue layui-icon"></i>12-->
                                    <!--                                    <i class="layui-icon-praise layui-icon"></i>12-->
                                    <!--                                    <i class="layui-icon-tread layui-icon"></i>12-->
                                </p>
                                <p th:utext="${blog.blogSubTitle}">在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。</p>
                                <p>
                                    <a  th:href="${blog.categoryUrl}"
                                        th:utext="${blog.categoryName}" class="layui-badge layui-bg-green">前端</a>
                                    <!--                                    <span class="layui-badge layui-bg-blue">性别</span>-->
                                    <!--                                    <span class="layui-badge layui-bg-orange">谜</span>-->
                                </p>
                                <p style="text-align: right">
                                    <a target="_blank" class="layui-btn layui-btn-primary layui-border" th:href="${blog.blogUrl}">更多</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:replace="blog/common :: page"></div>

            </div>
            <div class="layui-col-xs12 layui-col-md3">
                <div class="layui-row   layui-panel"  >
                    <div class="layui-tab layui-tab-brief">
                        <ul class="layui-tab-title">
                            <li class="layui-this">热门标签</li>

                        </ul>
                        <div class="layui-tab-content" style="padding:5px">
                            <div class="layui-tab-item layui-show">
                                <div class="layui-btn-container">
                                    <a class="layui-btn layui-btn-primary layui-border"
                                       th:each="category : ${categoryList}" th:href="${category.categoryUrl}"
                                       th:text="${category.categoryName}">普通按钮按钮</a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="layui-row   layui-panel" style="margin-top:40px">
                    <div class="layui-tab layui-tab-brief">
                        <ul class="layui-tab-title">
                            <li class="layui-this">最新发布</li>
                        </ul>
                        <div class="layui-tab-content" style="padding:15px">
                            <div class="layui-tab-item layui-show layui-text">
                                <p  th:each="newBlog : ${newBlogs}" >
                                    <a  th:href="${newBlog.blogUrl}" th:text="${newBlog.blogTitle}"> </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row   layui-panel" style="margin-top:40px">
                    <div class="layui-tab layui-tab-brief">
                        <ul class="layui-tab-title">
                            <li class="layui-this">点击最多</li>
                        </ul>
                        <div class="layui-tab-content" style="padding:15px">
                            <div class="layui-tab-item layui-show layui-text">
                                <p  th:each="newBlog : ${hotBlogs}" >
                                    <a  th:href="${newBlog.blogUrl}" th:text="${newBlog.blogTitle}"> </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="blog/common::foot"></div>

</div>
</body>
</html>
