<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="footer blog-footer" th:fragment="footer-fragment">
    <div class="blog-text-center">
        &copy;
        <a th:text="${configurations.get('sysAuthor')}">  blog.</a>
        <span class="ft-warn">&heartsuit;</span>&nbsp;site blog
        <a target="_blank" rel="nofollow" href="https://beian.miit.gov.cn/">苏ICP备20006003号-3</a><br/>
        Powered by <a href="#" target="_blank" th:text="${configurations.get('sysCopyRight')}">2019 湘北</a>
    </div>

    <script src="/webjars/jquery/1.12.4/jquery.min.js" ></script>
   <script type="text/javascript" th:src="@{/webjars/layui/2.8.18/dist/layui.js?v=2.7.62}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/static/blog/plugins/comment/valid.js}" charset="utf-8"></script>
    <script>
        $(function () {
            $('#navbar-toggle').click(function () {
                $('#toggle-items').fadeToggle("fast");
            });
        })
    </script>
</footer>
</html>