<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="pubtitle">
    <meta charset="utf-8">
    <title  >审核记录</title>

    <link rel="shortcut icon" th:href="@{/favicon.ico}"type="image/x-icon" />
    <link rel="bookmark" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Window-target" content="_top"/>

    <link th:href="${'/webjars/layuidist/css/layui.css?v='+vi}" rel="stylesheet">
    <script th:src="${'/webjars/layuidist/layui.js?v='+vi}" type="text/javascript"></script>
    <link id="layui_theme_css"  rel="stylesheet"></link>
</head>
<body>
<input id="id"  type=hidden th:value="${id}">
<input id="definitionKey" type=hidden th:value="${definitionKey}">
<div class="layui-container">
    <div class="layui-panel">
        <div style="padding: 32px;">
            <table class="layui-table">
                <colgroup>
                    <col width="250">
                    <col width="250">
                    <col  width="250">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>操作人</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody id="tbody " >
                <tr th:each="item:${data}">
                    <td th:text="${item.assignee}"></td>
                    <td th:text="${item.startTime}"></td>
                    <td th:text="${item.endTime}"></td>
                    <td th:text="${item.comments}"></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    $(function(){

    })
</script>
</body>

</html>