<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: header">
</head>
<body class="hold-transition sidebar-mini layout-fixed text-sm" data-panel-auto-height-mode="height">
<div class="wrapper">
    <input type="hidden" id="navUrl" th:value="${navUrl}">
    <nav th:replace="layout/nav :: nav">
    </nav>

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/" class="brand-link">
            <img th:src="${logo}" th:if="${not #strings.isEmpty(logo)}" alt="EZ-ADMIN" class="brand-image  " style="margin-right:0;margin-left:0">
            <span class="brand-text font-weight-light" th:text="${systemName}"th:if="${not #strings.isEmpty(systemName)}">EZ-ADMIN</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">

<!--            &lt;!&ndash; SidebarSearch Form &ndash;&gt;-->
<!--            <div class="form-inline">-->
<!--                <div class="input-group" data-widget="sidebar-search">-->
<!--                    <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">-->
<!--                    <div class="input-group-append">-->
<!--                        <button class="btn btn-sidebar">-->
<!--                            <i class="fas fa-search fa-fw"></i>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" id="global-nav" data-widget="treeview" role="menu" data-accordion="false">

                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper iframe-mode" data-widget="iframe" data-loading-screen="1000">
        <div class="nav navbar navbar-expand-lg navbar-white navbar-light border-bottom p-0">
            <div class="nav-item dropdown">
                <a class="nav-link bg-danger dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Close</a>
                <div class="dropdown-menu mt-0">
                    <a class="dropdown-item" href="#" data-widget="iframe-close" data-type="all">Close All</a>
                    <a class="dropdown-item" href="#" data-widget="iframe-close" data-type="all-other">Close All Other</a>
                </div>
            </div>
            <a class="nav-link iframe-scrollleft bg-light" href="#" data-widget="iframe-scrollleft"><i class="fas fa-angle-double-left"></i></a>
            <ul class="navbar-nav iframe-tab overflow-hidden" role="tablist"></ul>
            <a class="nav-link bg-light iframe-scrollright" href="#" data-widget="iframe-scrollright"><i class="fas fa-angle-double-right"></i></a>
            <a class="nav-link bg-light iframe-fullscreen" href="#" data-widget="iframe-fullscreen"><i class="fas fa-expand"></i></a>
        </div>
        <div class="tab-content">
<!--            <div class="tab-empty">-->
<!--                <iframe src="/ezadmin/list/list.html?LIST_ID=8"></iframe>-->
<!--            </div>-->
<!--            <div class="tab-loading">-->
<!--                <div>-->
<!--                    <h2 class="display-4">加载中 <i class="fas fa-sync fa-spin"></i></h2>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
    <!-- /.content-wrapper -->
<!--    <footer class="main-footer">-->
<!--        EZ-Admin   template is adminlte-->
<!--        <div class="float-right d-none d-sm-inline-block">-->
<!--            <b>Version</b> 1.0-->
<!--        </div>-->
<!--    </footer>-->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- jQuery -->
<head th:replace="layout/foot :: footer">
</head>
</body>
</html>
